@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --main-color: #003580;
}

.bg-main-color {
    background-color: var(--main-color);
}

.text-main-color {
    color: var(--main-color);
}

.pointer:hover {
    cursor: pointer;
}





/* animation */

.fading-hidden {
    animation: fade-hidden 300ms ease-out forwards;
  }
  
  @keyframes fade-hidden {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      display: none;
    }
  }
  